* {
    margin: 0;
    padding: 0;
    transition: .3s;
    text-decoration: none;
    color: #a2a2a2;
    box-sizing: border-box;
}

body {
    background-image: url('/images/marvels-spider-man-miles-morales-ps4-ps5-wallpapers-04.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    @media (max-width: 768px) {
        background-size: cover;
        padding-left: 50px;
        
    }
}

body::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #111111f3;
    z-index: -1;
}

@media (max-width: 768px) {
    body::before {
        background: transparent;
    }
}
.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

/* teste */


.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
}

/* Estilo do botão hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #111111f3;
        width: 116%;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        z-index: 999;
        border-radius: 10px;
        transition: .3s ease;
    }

    .menu.show {
        display: none;
    
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
        transition: .3s ease;
    }
}

/* teste */

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

nav.navbar .logo img {
    width: 50px;
    animation: FadeIn 1s linear forwards;
}

nav.navbar .left {
    display: flex;
    align-items: center;
}

nav.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav.navbar ul a {
    display: block;
    padding: 10px 35px;
    text-transform: uppercase;
    animation: FadeIn 1s linear forwards;
}

nav.navbar a:hover {
    color: red;
}

nav.navbar ul a.active {
    color: red;
}

nav.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content {
    margin-top: 4rem;
    animation: FadeIn 1s linear forwards;
}

.content .title {
    width: 50%;
}

.content .paragraph {
    width: 80%;
    margin-top: 0rem;
}

.content .companies {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.content .companies img {
    width: fit-content;
    height: 30px;
}

.content .buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
} 

.content .buttons a {
    display: block;
    padding: 15px 4%;
    margin-right: 3rem;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transform: skew(-8deg);

    @media (max-width: 768px) {
        margin-right: 10px;
        margin-left: 5px;
    }
}

.content .buttons a.trailer {
    border: 2px solid red;
}

.content .buttons a.trailer:hover {
    background: red;
}

.content .buttons a.preorder {
    background: rgb(190, 4, 4);
}

.content .buttons a.preorder:hover {
    background: rgb(245, 13, 13);
}

.content .character {
    position: absolute;
    width: 60%;
    right: -20%;
    top: 0;

    @media (max-width: 768px) {
        z-index: -1;
        right: 0;
    }
}

@keyframes FadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}